<nav>
  <ul class="main-menu">
    <li class="main-menu__item main-menu__item--has-child main-menu__item--active"><a class="main-menu__link" href="javascript:void(0);"><span>Home</span></a>
      <!-- sub menu start-->
      <ul class="main-menu__sub-list">
        <li class="item--active"><a href="index.html"><span>Home</span></a></li>
        <li><a href="#"> <span>Covid 19 </span></a></li>
        <li><a href="#"><span>Enviroment</span></a></li>
        <li><a href="#"><span>Veganism</span></a></li>
      </ul>
      <!-- sub menu end-->
    </li>
    <li class="main-menu__item main-menu__item--has-child"><a class="main-menu__link" href="javascript:void(0);"><span>Pages</span></a>
      <!-- sub menu start-->
      <ul class="main-menu__sub-list sub-list--style-2">
        <li><a href="about.html"><span>About</span></a></li>
        <li><a href="typography.html"> <span>Registration</span></a></li>
        <li><a href="donors.html"><span>Members</span></a></li>
        <li><a href="volunteer.html"><span> Volunteer</span></a></li>
        <li><a href="team-member.html"><span>Team Member</span></a></li>
        <li><a href="events.html"><span>Events</span></a></li>
        <li><a href="stories.html"><span>Stories</span></a></li>
        <li><a href="blog.html"><span>Blog</span></a></li>
        <li><a href="pricing.html"><span>Donation</span></a></li>
        <li><a href="faq.html"><span>FAQ</span></a></li>
      </ul>
      <!-- sub menu end-->
    </li>


    <li class="main-menu__item"><a class="main-menu__link" href="contacts.html"><span>How it works</span></a></li>
    <li class="main-menu__item"><a class="main-menu__link" href="contacts.html"><span>Supporters</span></a></li>
    <li class="main-menu__item"><a class="main-menu__link" href="contacts.html"><span>Contacts</span></a></li>

  </ul>
</nav>
