<section class="section events"><img class="events__bg" src="/assets/img/events_bg.png" alt="img"/>
  <div class="container">
    <div class="row margin-bottom">
      <div class="col-12">
        <div class="heading heading--primary heading--center"><span class="heading__pre-title">Events</span>
          <h2 class="heading__title"><span>Pukaar Holds</span> <span>for You</span></h2>
          <p class="no-margin-bottom">Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail, Canthigaster rostrata. Midshipman dartfish</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="event-item">
          <div class="event-item__img"><img class="img--bg" src="/assets/img/event_1.jpg" alt="img"/></div>
          <div class="event-item__content">
            <h6 class="event-item__title"><a href="#">Help for Language. Voluanteer</a></h6>
            <p><b>Dark Spurt,</b> San Francisco, CA 94528, USA</p>
            <p><b>September 30 - October 31,</b> 2019</p>
            <p><b>10:00 AM - 18:00 PM,</b> Everyday</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="event-item">
          <div class="event-item__img"><img class="img--bg" src="/assets/img/event_2.jpg" alt="img"/></div>
          <div class="event-item__content">
            <h6 class="event-item__title"><a href="#">The Culture of Africa. Rebirth</a></h6>
            <p><b>Dark Spurt,</b> San Francisco, CA 94528, USA</p>
            <p><b>September 30 - October 31,</b> 2019</p>
            <p><b>10:00 AM - 18:00 PM,</b> Everyday</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="event-item">
          <div class="event-item__img"><img class="img--bg" src="/assets/img/event_3.jpg" alt="img"/></div>
          <div class="event-item__content">
            <h6 class="event-item__title"><a href="#">Help for Language. Voluanteer</a></h6>
            <p><b>Dark Spurt,</b> San Francisco, CA 94528, USA</p>
            <p><b>April 15 - April 20,</b> 2019</p>
            <p><b>10:00 AM - 15:00 PM,</b> Everyday</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center"><a class="button button--primary" href="#">View all events</a></div>
    </div>
  </div>
</section>
