<section class="section text-section"><img class="text-section__bg" src="/assets/img/text-section.png" alt="img"/>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="text-section__heading">Volunteer</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-4 col-xl-7 offset-xl-4">
        <h3 class="text-section__title">Delivering help and hope <br/>to children through sponsorship.</h3>
        <p>Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail, Canthigaster rostrata. Midshipman dartfish Modoc sucker, yellowtail kingfish</p><a class="button button--primary" target="_blank" href="https://forms.gle/JW6QVcTfETv4fnxN7">Become a Volunteer</a>
      </div>
    </div>
  </div>
</section>
