<header class="header header--front">
  <div class="container-fluid">
    <div class="row no-gutters justify-content-between">
      <div class="col-auto d-flex align-items-center">
        <div class="dropdown-trigger d-none d-sm-block">
          <div class="dropdown-trigger__item"></div>
        </div>
        <div class="header-logo"><a class="header-logo__link" href="index.html"><img class="header-logo__img logo--light" src="/assets/img/logo_white.png" alt="logo"/><img class="header-logo__img logo--dark" src="/assets/img/logo_dark.png" alt="logo"/></a></div>
      </div>
      <div class="col-auto">
        <!-- main menu start-->
        <app-main-menu></app-main-menu>
        <!-- main menu end-->
      </div>
      <div class="col-auto d-flex align-items-center">
        <!-- <ul class="lang-select">
          <li class="lang-select__item lang-select__item--active"><span>En</span>
            <ul class="lang-select__sub-list">
              <li><a href="#">Hindi</a></li>

            </ul>
          </li>
        </ul> -->
        <!-- lang select end-->
        <div class="dropdown-trigger d-block d-sm-none">
          <div class="dropdown-trigger__item"></div>
        </div><a class="button button--squared" routerLink="donate"><span>Donate</span></a>
      </div>
    </div>
  </div>
</header>
