<main class="main">
  <!-- promo start-->
  <app-promo></app-promo>
  <!-- promo end-->
  <!-- about us start-->
  <app-about></app-about>
  <!-- about us end-->
  <!-- icons section start-->
  <app-icons></app-icons>
  <!-- icons section end-->
  <!-- causes start-->
  <app-causes></app-causes>
  <!-- causes end-->
  <!-- <app-projects></app-projects> -->
  <!-- projects end-->
  <!-- events start-->
  <!-- <app-events></app-events> -->
  <!-- events end-->
  <!-- text section start-->
  <app-text-section></app-text-section>
  <!-- text section end-->
  <!-- testimonials style-2 start-->
<!-- <app-testimonial></app-testimonial> -->
  <!-- testimonials style-2 end-->
  <!-- blog start-->
  <!-- <app-blogs></app-blogs> -->
  <!-- blog end-->
  <!-- donors start-->
  <!-- <app-donors></app-donors> -->
  <!-- donors end-->
  <!-- instagram start-->
  <app-instagram></app-instagram>
  <!-- instagram end-->
  <!-- subscribe start-->
  <app-subscribe></app-subscribe>
  <!-- subscribe end-->
</main>
<!-- footer start-->
