<section class="section blog"><img class="blog__bg" src="/assets/img/blog_bg.png" alt="img"/>
  <div class="container">
    <div class="row margin-bottom">
      <div class="col-12">
        <div class="heading heading--primary heading--center"><span class="heading__pre-title">News</span>
          <h2 class="heading__title no-margin-bottom"><span>Pukaar</span> <span>Blog</span></h2>
        </div>
      </div>
    </div>
    <div class="row offset-margin">
      <div class="col-md-6 col-lg-5 col-xl-4">
        <div class="blog-item blog-item--style-1">
          <div class="blog-item__img"><img class="img--bg" src="/assets/img/blog_1.jpg" alt="img"/><span class="blog-item__badge" style="background-color: #49C2DF;">Water Delivery</span></div>
          <div class="blog-item__content">
            <h6 class="blog-item__title"><a href="#">Save the Children's Role in Fight Against Malnutrition Hailed</a></h6>
            <p>Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail canthigaster</p>
            <div class="blog-item__details"><span class="blog-item__date">23 Jan' 19</span><span>
              <svg class="icon">
                <use xlink:href="#comment"></use>
              </svg> 501</span></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-7 col-xl-8">
        <div class="blog-item blog-item--style-2"><img class="img--bg" src="/assets/img/blog_2.png" alt="img"/>
          <div class="blog-item__content"><span class="blog-item__badge" style="background-color: #2EC774;">Education</span>
            <h6 class="blog-item__title"><a href="#">Back to the future: Quality education through respect, commitment and accountability</a></h6>
            <p>Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail canthigaster rostrata. Midshipman dartfish Modoc sucker, yellowtail</p>
          </div>
          <div class="blog-item__details"><span class="blog-item__date">23 Jan' 19</span><span>
            <svg class="icon">
              <use xlink:href="#comment"></use>
            </svg> 501</span></div>
        </div>
      </div>
      <div class="col-md-6 col-lg-7 col-xl-8">
        <div class="blog-item blog-item--style-2"><img class="img--bg" src="/assets/img/blog_3.png" alt="img"/>
          <div class="blog-item__content"><span class="blog-item__badge" style="background-color: #F8AC3A;">Food</span>
            <h6 class="blog-item__title"><a href="#">Condolences to Families Effected By Flash Floods in Setswetla, Alexandra Township, Johannesburg</a></h6>
            <p>Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail canthigaster rostrata. Midshipman dartfish Modoc sucker, yellowtail</p>
          </div>
          <div class="blog-item__details"><span class="blog-item__date">23 Jan' 19</span><span>
            <svg class="icon">
              <use xlink:href="#comment"></use>
            </svg> 501</span></div>
        </div>
      </div>
      <div class="col-md-6 col-lg-5 col-xl-4">
        <div class="blog-item blog-item--style-1">
          <div class="blog-item__img"><img class="img--bg" src="/assets/img/blog_4.png" alt="img"/><span class="blog-item__badge" style="background-color: #F36F8F;">Medicine</span></div>
          <div class="blog-item__content">
            <h6 class="blog-item__title"><a href="#">Save the Children's Role in Fight Against Malnutrition Hailed</a></h6>
            <p>Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail canthigaster</p>
            <div class="blog-item__details"><span class="blog-item__date">23 Jan' 19</span><span>
              <svg class="icon">
                <use xlink:href="#comment"></use>
              </svg> 501</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
